@import '../../styles/global.scss';

.title{
    color: $main-color;
    margin-bottom: getSpacing()
}

.container{
    border-top: $main-color 1px solid;
    padding-top: getSpacing();
    margin-right: getSpacing(2);
    width: auto;
    display: flex;
    overflow: scroll;
}

.product_image{
    width: 100%;
}

@include applyTo('m') {
    .container{
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: getSpacing();
        align-items: center;
        justify-items: center;
    }
    .product_image{
        border: $main-color 1px solid;
        height: 20vh;
    }
    .product{
        width: 50%;
        min-width: 450px;
    }
}

@include applyTo('l') {
    .container{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        gap: getSpacing();
    }

    .product{
        min-width: 675px;
    }
}