@import '../../styles/global.scss';

.container {
    display: flex;
    align-items: center;
    height: 90px;
    border-bottom: $main-color 1px solid;
}

img {
    width: 80px;
}

.count {
    background-color: $main-color;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: getSpacing(5);
    margin: 0 getSpacing(2.5);
}