.container{
    border-top: #a61abb 1px solid;
    padding-top: 10px;
}
.title{
    color: #a61abb;
    margin-bottom: 10px
}

.totalToPay{
    font-size: 20px;
    font-weight: bold;
    color: #c8c8c8;
    text-align: end;
    margin-top: 15px;
}

.total{
    color: #a61abb;
}

.wompi{
    margin: 15px 0;
}

@media only screen and (min-width: 768px){
    .cart{
        width: 50%;
    }
}