@import '../../styles/global.scss';

.container {
    padding: getSpacing() getSpacing(1.5);
    width: calc(100vw - getSpacing(1.5));
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        width: 40%;
        max-width: getSpacing(15);
        text-decoration: none;
    }

    .logo{
        width: 100%
    }

    .countItem{
        padding: getSpacing(0.5);
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $main-color;
    }

    .deleteButton {
        display: none;
    }

    .showDelete {
        .deleteButton {
            display: flex;
            background-color: $main-color;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 20%;
            justify-content: center;
            align-items: center;
            border: none;
            color: white;
            font-weight: bold;
            outline: none;
            cursor: pointer;
        }

        .countItem {
            background-color: $main-color-transparent;
            position: relative;
            padding-right: 20%;
            border: 1px solid $main-color;
            color: $main-color;
        }

        path {
            fill: $main-color;
        }
    }
}
