.container {
    padding: 10px 15px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    width: 40%;
    max-width: 150px;
    text-decoration: none;
}

.logo{
    width: 100%
}

.countItem{
    padding: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a61abb;
}
