@import '../../styles/global.scss';

.container{
    width: 90vw;
    margin: 0 auto;
}

@include applyTo('m') {
    .container{
        max-width: 800px;

        .main {
            display: flex;
        }
    }
}

@include applyTo('l') {
    .container{
        max-width: 1200px;
    }
}