.container{
    border-top: #a61abb 1px solid;
    padding-top: 10px;
}
.title{
    color: #a61abb;
    margin-bottom: 10px
}

.count{
    background-color: #a61abb;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.handle_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: #a61abb 1px solid;
}

.currency{
    color: #a61abb;
}

.handle_subtraction{
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    background-color: #c8c8c8;
    font-size: 20px;
}

.handle_sum{
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    background-color: #a61abb;
    color: white;
    font-size: 20px;
}

.description{
    padding-bottom: 10px;
    border-bottom: #a61abb 1px solid;
}

.addToCart{
    margin-top: 10px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #a61abb;
    color: white;
    font-size: 18px;
}

@media only screen and (min-width: 768px){
    .cart{
        width: 50%;
    }
}