@import '../../styles/global.scss';

.container{
    border-top: $main-color 1px solid;
    padding-top: getSpacing();
}
.title{
    color: $main-color;
    margin-bottom: getSpacing()
}

.count{
    background-color: $main-color;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: getSpacing(5);
}

.handle_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: getSpacing(1.5) 0;
    font-weight: bold;
    padding-bottom: getSpacing();
    border-bottom: $main-color 1px solid;
}

.currency{
    color: $main-color;
}

.handle_subtraction{
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    background-color: $gray-color;
    font-size: 20px;
}

.handle_sum{
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    background-color: $main-color;
    color: white;
    font-size: 20px;
}

.description{
    padding-bottom: getSpacing();
    border-bottom: $main-color 1px solid;
}

.addToCart{
    margin-top: getSpacing();
    margin-bottom: getSpacing(2.5);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: $main-color;
    color: white;
    font-size: 18px;
}

@include applyTo('m') {
    .cart{
        width: 50%;
    }
}